html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "TT Hoves";
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: auto;
  max-width: 1440px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: 64px;
  color: #bdbdbd;
  line-height: 64px;
}

h2 {
  color: #bdbdbd;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.92px;
}

.body__container {
  height: max-content;
}

.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #ffffff;
  min-height: 102px;
  justify-content: space-between;
  padding: 0 135px;
  font-weight: 400;
  font-size: 12px;

  .header-image__container {
    width: 70px;
    height: 40px;
    background-color: #fff;
    .image {
      width: 100%;
    }
  }
  .navigation__container {
    display: flex;
    flex-direction: row;
    padding-right: 134px;

    .navigation-item__container {
      list-style: none;
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;

      .navigation-item {
        display: block;
        text-decoration: none;
        color: #000000;
        margin: 0 30px;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        &:hover {
          cursor: pointer;
          font-weight: 600;
        }

        &.active {
          border-top: 1px solid black;
          border-bottom: 1px solid black;
        }
      }
    }
  }
}

.content__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #ffffff;
  height: 100%;
  flex: 0 1 auto;

  padding: 3px 135px;

  .slider__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .left-column__container {
      display: flex;
      flex-direction: column;
      .left-column__label {
        display: flex;
        flex-direction: column;
        margin-top: 336px;
        span {
          color: #333333;
          font-weight: 700;
        }
      }
      .left-column__slider-buttons__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: left;
        align-items: center;
        margin-top: 90px;

        .button {
          padding: 15px 14px 14px 15px;
          background-color: #f2f2f2;
          border: none;
          &:hover {
            background-color: #d2d2d2;
            cursor: pointer;
          }
          &:first-child {
            margin-right: 23px;
          }

          &.left {
            transform: rotate(180deg);
          }
        }
      }
      .left-column__slider-counter__container {
        margin-top: 90px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        hr {
          transform: rotate(135deg);
          width: 44px;
          margin: 0 32px 0 26px;
          height: 2px;
          background-color: #bdbdbd;
          border: none;
        }
        p {
          color: #bdbdbd;
          font-size: 24px;
        }
      }
    }

    .right-column__container {
      width: 770px;
      height: 829px;
      position: relative;
      .slider-image {
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;

          &.image-fade {
            animation: imgFade 1s ease-in-out;

            @keyframes imgFade {
              0% {
                opacity: 0;
              }
              100% {
                opacity: 1;
              }
            }
          }
        }
      }
      .slider-link {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 71px;
        width: 222px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 2px;
        border: none;
        padding: 0;
        text-decoration: none;
        color: #000000;

        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #d2d2d2;
          cursor: pointer;
        }
      }
    }
  }

  .about__container {
    background-color: #fbfbfb;
    height: 435px;
    width: 100%;
    margin-top: 120px;
    margin-right: 135px;
    overflow-y: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    .left-column__container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 570px;
      padding: 30px 0 30px 100px;

      .about_1__container {
        height: 265px;
        width: 270px;
      }

      .about_2__container {
        width: 270px;
        height: 345px;
        margin-top: 30px;
        margin-left: 30px;
      }

      .about_3__container {
        width: 270px;
        height: 140px;
        margin-top: -80px;
      }
    }
    .right-column__container {
      width: 400px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin-left: 30px;
      margin-top: 30px;

      .about_text__container {
        width: 400px;
        margin-top: 20px;
        margin-right: 70px;
        .about_text {
          padding-right: 25px;
          font-size: 16px;
          line-height: 25px;
          font-weight: 300;
          margin: 0;
        }
      }

      .about__button {
        width: 222px;
        height: 71px;
        margin-top: 20px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 2px;
        border: none;
        text-decoration: none;
        color: #000000;

        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #d2d2d2;
          cursor: pointer;
        }
      }
    }
  }

  .main_tasks__container {
    margin-top: 150px;

    .tasks__container {
      margin-top: 62px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;

      .task__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .task__number {
          font-weight: 900;
          font-size: 200px;
          line-height: 200px;
          color: #f2f2f2;
          padding: 0;
          margin: 0;
          height: 140px;
          font-family: "SF Pro Display";
        }

        .task__text {
          font-weight: 400;
          font-size: 22px;
          line-height: 36px;
          margin-left: 30px;
          height: 144px;

          &.left {
            max-width: 279px;
          }

          &.right {
            max-width: 420px;
          }
        }
      }
    }
  }

  .projects__container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    max-height: 765px;
    height: max-content;

    .images__container {
      margin-top: 60px;
      img {
        width: 100%;
      }

      .images__first-row {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 255px;

        .projects-image__container {
          width: (570 / 1170) * 100%;
          margin: 0 15px;
          position: relative;

          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }

          &:hover {
            .projects-image__text__container {
              visibility: visible;
            }
          }
        }
      }

      .images__second-row {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 255px;

        .projects-image__container {
          margin: 0 15px;
          position: relative;
          overflow: hidden;

          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }

          &:hover {
            .projects-image__text__container {
              visibility: visible;
            }
          }
        }
      }
      .projects-image__text__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        cursor: pointer;

        .projects-image__background {
          display: block;
          background-color: #333333;
          opacity: 0.8;
          width: 100%;
          height: 100%;
          position: absolute;
          margin-left: 0;
        }

        .projects-image__text {
          width: 70%;
          margin-top: 48px;
          color: #ffffff;
          opacity: 1;
          z-index: 100;
          margin-bottom: 8px;
          font-weight: 700;
          font-size: 64px;
          line-height: 64px;
          margin-left: 15%;
          margin-right: 15%;
        }

        .projects-image__link {
          z-index: 100;
          text-decoration: none;
          display: flex;
          flex-direction: row;
          margin-top: 8px;
          font-weight: 400;
          size: 12px;
          line-height: 12px;
          letter-spacing: 2px;
          width: max-content;
          overflow: hidden;
          margin-left: 15%;

          font-weight: 400;
          size: 12px;
          line-height: 12px;
          letter-spacing: 2px;
          color: #ffffff;
        }
      }

      .projects-image__link__arrow {
        margin-left: 12px;
        margin-top: -5px;
      }
    }

    .projects-link__button {
      margin-top: 30px;
      width: 222px;
      height: 71px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
      background-color: #333333;
      color: #ffffff;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 2px;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        border: 2px solid #28ac00;
      }

      img {
        width: 24px;
        height: 24px;
        margin-left: 12px;
      }
    }
  }

  .contact__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 120px 0;

    h2 {
      width: 100%;
      margin-bottom: 22px;
    }

    .left-column__container {
      width: (391 / 1170) * 100%;
      height: max-content;
      .contact-form {
        margin-bottom: 0;

        .input__container {
          display: block;
          margin-top: 10px;
          position: relative;
          font-weight: 400;
          line-height: 17.43px;
          font-size: 14px;

          &:first-child {
            margin-top: 0;
          }

          .place_holder {
            position: absolute;
            z-index: 50;
            cursor: text;
            top: 14px;
            left: 21px;
            width: 100%;
            display: inline-block;
            color: #8d8d8d;

            span {
              color: rgb(182, 0, 0);
            }
          }

          .input {
            width: 100%;
            background-color: #f3f3f3;
            border: none;
            padding-left: 21px;
            text-align: start;
            vertical-align: top;

            ::placeholder {
              color: #8d8d8d;
            }

            &.filled + .place_holder {
              display: none;
            }

            &.short {
              height: 45px;
            }
            &.large {
              height: 147px;
            }
          }

          .long {
            height: 147px;
            width: 100%;
            background-color: #f3f3f3;
            border: none;
            padding-left: 21px;
            padding-top: 14px;
          }

          &.error {
            .input {
              border: 1px solid red;
            }
          }
          .error-label {
            color: red;
          }
        }
      }
    }
    .right-column__container {
      margin-left: 30px;
      width: (749 / 1170) * 100%;
      img {
        width: 100%;
      }
    }

    .contact-note__container {
      width: 100%;
      margin-top: 22px;
      .contact-note {
        margin-left: 40px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 17.43px;
        letter-spacing: 0.3px;
      }
    }

    .contact-form__button {
      margin-top: 30px;
      width: 222px;
      height: 71px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: flex-end;
      background-color: #333333;
      color: #ffffff;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 2px;

      &:hover {
        cursor: pointer;
        border: 2px solid #28ac00;
      }

      img {
        width: 24px;
        height: 24px;
        margin-left: 12px;
      }
    }
  }
}

.footer__container {
  height: 332px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #2c2c2c;
  color: #ffffff;
  padding-top: 85px;

  .logo__container {
    width: 145px;
    height: 94px;
    margin-left: 116px;

    img {
      width: 100%;
    }
  }

  .info__container {
    margin-left: 99px;
    width: 103px;
    .info__list {
      margin: 25px 0;
      padding: 0;

      .list-item {
        display: block;
        text-decoration: none;
        color: #ffffff;
        margin-top: 16px;
        padding: 0;
        list-style: none;

        &:first-child {
          margin-top: 0;
        }

        &:hover {
          cursor: pointer;
          font-weight: 600;
        }
      }
    }
  }

  .contacts__container {
    margin-left: (157 / 1440) * 100%;
    width: 328px;

    h3 {
      margin-bottom: 25px;
    }

    .contacts__table {
      color: #ffffff;

      .contacts-table__container {
        .table__row {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.3px;
          width: 344px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 33px;
          height: 24px;

          &:first-child {
            height: 48px;
            margin-top: 0;
          }

          .row__item-left {
            padding-top: 2px;
            width: 16px;
            img {
              width: 100%;
              color: #ffffff;
            }
          }
          .row__item-right {
            width: 253px;
            margin: 0 61px 0 14px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .social__container {
    width: 212px;
    margin-left: 70px;

    .social__labels {
      margin-top: 26px;
      img {
        height: 20px;
        margin-left: 40px;
        &:first-child {
          margin-left: 0;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
